:root {
    --text-color: #ffffff;
    --card-front-color: #7e1a09;
    --card-back-color: #000000;
}

body {
    background: url('img/fundo-texturizado-de-concreto-preto_53876-145151.png');
    font-family: Bai Jamjuree;
}

#container {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 4rem;
    gap: 3rem;
}

.cartao {
    margin: 1rem 1rem;
    height: 20rem;
    flex-grow: 1;
    flex-basis: calc(33% - 6rem);
}

.cartao__conteudo {
    background-color: var(--card-front-color);
    text-align: center;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 300ms ease-in-out;
}

.cartao__conteudo h3 {
    color: var(--text-color);
    border: 1px solid var(--text-color);
    text-align: left;
    padding: 0.5rem;
    position: absolute;
    margin: 0.6rem;
    border-radius: 0.6rem;
    font-size: 1vw;
    backface-visibility: hidden;
}

.cartao__conteudo p {
    margin-top: 1rem;
    padding: 2rem;
    margin-top: 4rem;
    font-size: 1.4vw;
}

.cartao__conteudo__pergunta {
    background-size: cover;
    background-position: center;
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    
    color: #ff0303;  /* Cor das letras das perguntas */
}

.cartao__conteudo__resposta {
    background-size: cover;
    background-position: center;
    transform: rotateY(180deg);
    background-color: rgba(224, 73, 35, 0.2);
    border: 4px solid var(--card-back-color);
    backface-visibility: hidden;
    position: absolute;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

.cartao.active .cartao__conteudo {
    transform: rotateY(180deg);
}

/* Cartão 1 */
.cartao:nth-child(1) .cartao__conteudo__pergunta {
    background-image: url('img/Flag_of_Canada_(Pantone).svg.png');
}

.cartao:nth-child(1) .cartao__conteudo__resposta {
    background-image: url('img/card1-back.jpg');
}

/* Cartão 2 */
.cartao:nth-child(2) .cartao__conteudo__pergunta {
    background-image: url('img/vestibulando-prova-matematica-sites-gratuitos-noticias-1442442266521.jpg');
}

.cartao:nth-child(2) .cartao__conteudo__resposta {
    background-image: url('img/card2-back.jpg');
}

/* Cartão 3 */
.cartao:nth-child(3) .cartao__conteudo__pergunta {
    background-image: url('img/latitude.jpg');
}

.cartao:nth-child(3) .cartao__conteudo__resposta {
    background-image: url('img/card3-back.jpg');
}

/* Cartão 4 */
.cartao:nth-child(4) .cartao__conteudo__pergunta {
    background-image: url('img/Design-sem-nome-4-1024x576.webp');
}

.cartao:nth-child(4) .cartao__conteudo__resposta {
    background-image: url('img/card4-back.jpg');
}

footer {
    background-color: black;
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 2rem;
}

footer p {
    text-align: center;
    font-size: 0.6rem;
    margin-top: 0.5rem;
}

@media (max-width: 560px) {
    body {
        background: url('img/bg-mobile.webp'), no-repeat cover;
    }

    .cartao {
        flex: 1 0 calc(100% - 1rem)
    }

    .cartao__conteudo h3 {
        font-size: 3vw;
    }

    .cartao__conteudo p {
        font-size: 3.8vw;
    }
}
